body {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    color:  #b34848;
}
/* boja navbara */
.blog-masthead, nav {
    background-color: #b34848;
}
.post-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
}

.post-form button {
    width: 50px;
    border-radius: 5px;
    margin-top: 10px;
}

.blog-post a:hover {
    text-decoration: underline;
    border-bottom-color: #b34848;
}

.ul-comments {
    list-style-type: none;
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
}

.comment-form label {
    margin-bottom: 5px;
}

.comment-form input:last-child {
    margin-top: 10px;
}

